*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:  hsl(210, 36%, 96%);
}

h3{
    font-size: x-large;
    color: hsl(210, 61%, 15%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    height: 310px;
    width: 410px;
}
